@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
    font-family: 'Bebas Neue', 'Times New Roman';
    background-image: linear-gradient(to bottom right, blue, indigo, violet);
}

.quotebox {
    position: absolute;
    width: 700px;
    height: 500px;
    top: 10%;
    left: 50%;
    margin-left: -350px;
    text-align: center;
    border: 2px solid black;
    background: white;
    border-radius: 10px;
}

.quote{
    margin-top: 25%;
    font-size: 45px;
    top: 50%;
    left: 50%;
}

.button {
    position: absolute;
    width: 150px;
    height: 30px;
    text-align: center;
    background: white;
    text-decoration: none;
    font-weight: bold;
    left: 50%;
    margin-left: -75px;
    margin-top: 10%;
}