@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
    font-family: 'Bebas Neue', 'Times New Roman';
    background-image: linear-gradient(to bottom right, blue, indigo, violet);
}

.quotebox {
    position: absolute;
    width: 50%;
    height: 35%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: 2px solid black;
    background: white;
    border-radius: 10px;
}

.quote{
    margin-top: 25%;
    font-size: 45px;
}

.button {
    position: absolute;
    margin: auto;
    margin-top: 10%;
    width: 150px;
    height: 30px;
    text-align: center;
    background: white;
    text-decoration: none;
    font-weight: bold;
}